.set-height-tasks {
    height: 517px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
}

.set-height-tasks::-webkit-scrollbar {
    display: none;
}

.pointer { cursor: pointer; }

.header-size {
    font-size: larger;
}

.set-height-pinned-task {
    height: 268px;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    overflow-y: scroll;
}

.set-height-pinned-task::-webkit-scrollbar {
    display: none;
}

.set-bg-white {
    background-color: white;
}

.icons-setting {
    cursor: pointer;
    color: black;
}

.icon-task-setting {
    cursor: pointer;
}

.icons-setting:hover {
    transform: scale(1.3);
    transition-timing-function: ease-in-out;
    transition: 0.25s;
}

#upload {
    display: none;
}

.text-decor-null {
    text-decoration: none;
}

#date {
    display: none;
}
