.set-height-tasks {
    height: 550px;
    overflow: auto;
    overflow-x: hidden;
}

.set-height-pinned-task {
    height: 283px;
    overflow: auto;
    overflow-x: hidden;
}

.set-bg-white {
    background-color: white;
}

.icons-setting {
    cursor: pointer;
}

.icon-task-setting {
    cursor: pointer;
}

.icons-setting:hover {
    transform: scale(1.3);
    transition-timing-function: ease-in-out;
    transition: 0.25s;
}

#upload {
    display: none;
}

.text-decor-null {
    text-decoration: none;
}
